

.create-quiz-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.create-quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}



.create-quiz-form input {
    padding: 10px;
    border-radius: 5pt;
    margin: 30px;
    width: 100%;
    font-size: 12pt;

}
.create-quiz-form input {
    cursor: text;
    border: 1px solid black;
}


.create-quiz-button {
    width: 50%;  
    box-sizing: border-box;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5pt;
    background-color: #0D99FF;
    color: #FFFFFF;
    font-weight: 500;
}

.create-quiz-button:hover {
    background-color: rgba(11, 138, 231, 1);
    cursor: pointer;
}


.success-message-modal {
    text-align: center;
    padding: 10px;
    margin: 5px 0;
}

#topic-created-message {
    font-size: 12pt;
    font-weight: 600;
}