*{
    font-family: 'Inter', sans-serif;
    cursor: default;
}

.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F6F7F7;
    /*background-color: #F7FBFE;*/
}

.home-content {
    display: flex;
    flex-direction: column;
    max-width: 125ch;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    padding: 60px 40px;
    margin-top: 82px;
    background-color: #F6F7F7;
    border-left: 2px solid rgb(237, 237, 237);
    border-right: 2px solid rgb(237, 237, 237);
}

.welcome-user-name {
    font-style: italic;
}


.ready {
    font-size: 16pt;
    font-weight: 700;
}

.pick-topic-intro {
    font-size: 16pt;
    font-weight: 700;
}

.add-question-intro {
    margin-top: 100px;
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 60px;
}


.add-question-link {
    font-size: 16pt;
    color: #0D99FF;
    font-weight: 500;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}

.add-question-link:hover {
    padding: 10px;
    border-radius: 5pt;
    color: white;
    background-color: #0D99FF;
    font-weight: 600;
    cursor:pointer;
}





