*{
    font-family: 'Inter', sans-serif;
}

.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.home, .profile {
    margin: 0 10px; 
    font-size: 12pt;
    font-weight: 600;
}


.home{
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10pt;
}

.home:hover {
    background-color: rgba(159, 212, 250, 0.5);
}

.profile {
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10pt;
}

.profile:hover {
    background-color: rgba(159, 212, 250, 0.5);
}

.logout {
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10pt;
}

.logout:hover {
    background-color: rgba(159, 212, 250, 0.5);
}


.home-content {
    display: flex;
    flex-direction: column;
    max-width: 125ch;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    padding: 20px 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

