.incorrect-feedback-card * {
    margin: 5px;
}

.incorrect-feedback-card {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5pt;
    background-color: white;
    border: 1px solid rgb(237, 237, 237);
}

.incorrect-feedback-card p {
    text-align: justify;
}

.under-line {
    text-decoration: underline;
}