
.card1, .card2, .card3, .card4 {
    border-radius: 5pt;
    
}


.landing-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 125ch;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card1 p, .card2 p, .card3 p {
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    width: 40%;
    font-size: 40pt;
    font-weight: 700;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

.card1, .card2, .card3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card1 p {
    margin-left: 80px;
    padding-right: 0
}

.card2  {
    margin-bottom: 100px;
}


/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .card1 p, .card2 p, .card3 p {
        width: 80%; /* Adjusted width for smaller screens */
    }

    .card1, .card2, .card3 {
        align-items: center;
        text-align: center;
    }

    .card1 p {
        margin-left: 0;
    }

    .card2 {
        margin-bottom: 20px;
    }
}

/* Special case for Card2 in smaller screens */
@media screen and (max-width: 1000px) {
    .card2-stack {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card2-stack .card2 p {
        order: -1; 
    }

    .card2-stack .card2 .feedback-image {
        margin-top: 20px; 
    }
}

/* Common styles for larger screens */
@media screen and (min-width: 1000px) {
    .card1, .card2, .card3 {
        align-items: center;
        text-align: center;
    }

    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .content-wrapper p {
        text-align: center;
    }

    .configue-image, .feedback-image, .performance-image1 {
        margin-left: 20px;
    }
}




