
.card1, .card2, .card3, .card4 {
    border-radius: 5pt;
    
}


.landing-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 125ch;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card1 p, .card2 p, .card3 p {
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    width: 40%;
    font-size: 40pt;
    font-weight: 700;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.card1, .card2, .card3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card1 p {
    margin-left: 80px;
    padding-right: 0
}

.card2  {
    margin-bottom: 100px;
}











