
.landingPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*background-color: rgba(212, 227, 238, 0.652);*/
}

/**MAIN **/
.main-content {
    display: flex;
    flex-direction: column;
    max-width: 125ch;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    padding: 20px 40px;
    background-color: white;
    margin-top: 82px;
    align-items: center;
    justify-content: center;
    border-left: 2px solid rgb(237, 237, 237);
    border-right: 2px solid rgb(237, 237, 237);
}

.log-in, .sign-up {
    margin: 0 10px; 
    font-size: 12pt;
    font-weight: 600;
}

.log-in {
    color: rgba(13, 153, 255, 0.87);
    border: 0.25px solid #0D99FF;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10pt;
}

.log-in:hover {
    background-color: rgba(159, 212, 250, 0.5);
}


.sign-up {
    color: #FFFFFF;
    background-color: #0D99FF;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10pt;
}

.sign-up:hover {
    background-color: rgba(11, 138, 231, 1);
}

