.modal {
   display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
  background-color: #fefefe;
  margin: 25% auto;  /* decrease top margin to provide more space */
  padding: 20px;
  border-radius: 10pt;
  width: 50%;  /* decrease width to adapt smaller screens */
  max-width: 400px;  /* maximum width of the modal content */
  height: auto;  /* let the height adapt to its content */
  max-height: 80vh;  /* maximum height */
  overflow: auto;  /* add scrollbar when content is bigger than the modal */
  display: flex;  /* align children elements */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}