.question-addition-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #edf5fb;
}


.question-addition-main { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-addition-main {
    display: flex;
    flex-direction: column;
    max-width: 125ch;
    width: 100%;
    margin: 0 auto;
    margin-top: 82px;
    flex-grow: 1;
    padding: 20px;
    padding-bottom: 60px;
    background-color: #edf5fb;
    border-left: 2px solid rgb(237, 237, 237);
    border-right: 2px solid rgb(237, 237, 237);
}

.question-addition-guidelines {
    background-color: rgb(204, 229, 237);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    margin: 40px;
    border-radius: 5pt;
}

.guidelines {
    text-align: justify;
}


.question-addition-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(183, 182, 182, 0.323);
    border-radius: 5pt;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid rgb(237, 237, 237);
    font-size: 10pt;
}

.question-addition-form label {
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 10px;
}


.question-addition-topic,
.question-addition-subtopic,
.question-addition-type,
.question-addition-text,
.question-addition-options,
.question-addition-correct-answer-explanation,
.question-addition-difficulty,
.question-addition-score {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 40px 20px;
}

.question-addition-topic select,
.question-addition-subtopic select,
.question-addition-type select,
.question-addition-difficulty select {
    width: 30%;
    padding: 5px;
    border-radius: 5pt;
    font-size: 10.5pt;
}

.question-addition-text textarea,
.question-addition-correct-answer-explanation textarea {
    width: 100%;
    padding: 10px 5px;
    border-radius: 5pt;
    font-size: 10.5pt;
}

.question-addition-text textarea:hover,
.question-addition-correct-answer-explanation textarea:hover {
    cursor:text;
}

.question-addition-subtopic input{
    width: 45%;
    padding: 5px;
    border-radius: 5pt;
    font-size: 10.5pt;
    border: 0.5px solid black;
}


.question-addition-options .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.question-addition-options .option input,
.question-addition-options .option select {
    flex: 1;
    margin-right: 10px;
   
}


.question-addition-options {
    font-size: 10.5pt;
    font-weight: 300;
    margin-bottom: 10px;
}


.question-addition-options .true-false {
    font-size: 10.5pt;
    margin-bottom: 10px;
    padding: 10px;
    
}

.question-addition-options .true-false label {
    font-size: 12pt;
    font-weight: 500;
    margin-right: 10px;
}

.question-addition-options .true-false label:first-child {
    font-size: 12pt;
    font-weight: 500;
    margin-right: 12px;
}

.question-addition-options .true-false select {
    width: 20%;
    padding: 5px;
    border-radius: 5pt;
    font-size: 10pt;
}

.question-addition-options .mcq-maq input {
    font-size: 10pt;
    font-weight: 500;
    margin-right: 10px;
    border-radius: 5pt;
    padding: 5px;
    width: 50%;
    margin-bottom: 20px;
    border: 0.5px solid black;
}

.question-addition-options .mcq-maq select {
    width: 20%;
    padding: 5px;
    border-radius: 5pt;
    font-size: 10pt;
}


.cancel-subtopic-button, .add-choice-button, .remove-choice-button {
    width: 25%;
    padding: 9px;
    border-radius: 5pt;
    color: white;
    background-color: #000000;
    border: none;
    margin-right: 30px;
}

.cancel-subtopic-button {
    margin-top: 10px;
}

.cancel-subtopic-button:hover, .add-choice-button:hover, .remove-choice-button:hover {
    cursor: pointer;
    background-color: rgb(52, 51, 51);
}


.question-addition-score label {
    font-size: 12pt;
}

.question-addition-score input {
    width: 25%;
    padding: 5px;
    border-radius: 5pt;
    font-size: 10pt;
    border: 0.5px solid black;
}

.question-addition-submit-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.question-addition-submit-button button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #0D99FF;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 5pt;
    margin: 20px;
}

.question-addition-submit-button button:hover {
    background-color: rgba(11, 138, 231, 1);
}

#quiz-question-submitted-modal {
    border: 1px solid black;
}

.quiz-question-submitted {
    text-align: center;
    padding: 20px;
}

.quiz-question-submitted p {
    font-size: 14pt;
    font-weight: 600;
}

.quiz-question-submitted button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #0D99FF;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 5pt;
    margin: 10px;
}

.quiz-question-submitted button:hover {
    background-color: rgba(11, 138, 231, 1);
    cursor: pointer;
}