*{
    font-family: 'Inter', sans-serif;
}


.quiz-configure-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
 }


 .quiz-configure-card h3 {
    font-size: 15pt;
    color: #0D99FF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
 }

.quiz-configure-form {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-evenly;
}


.set-questions-checkbox {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 10px;
}

.set-questions-checkbox input {
    margin-left: 45px;
}

.questions-limit{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.questions-limit input {
    margin-left: 35px; /* Change the value as needed */
    width: 20%
}

.feedback-type {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10px;
    padding-right: 5px;
}

.feedback-type select {
    width: 30%;
    margin-left: 55px;
}


.configure-button {
    width: 100%;
    padding-right: 20px;
    margin-top: 10px;
}

.configure-button button {
    width: 100%;  
    box-sizing: border-box;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5pt;
    background-color: #0D99FF;
    color: #FFFFFF;
    font-weight: 500;
}


.quiz-configure-card button:hover {
    background-color: rgba(11, 138, 231, 1);
} 