*{
    font-family: 'Inter', sans-serif;
}

.test-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #edf5fb; 
}


.quiz-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 125ch;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    padding: 20px;
    background-color: #edf5fb; 
    border-left: 2px solid rgb(237, 237, 237);
    border-right: 2px solid rgb(237, 237, 237);
    margin-top: 82px;
}


.submit-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 5px;
}

.submit-quiz p {
    font-size: 14pt;
    padding-bottom: 15px;
    font-size: 12pt;
    font-weight: 600;
}

.submit-quiz button {
    font-size: 12pt;
    font-weight: 600;
    color: white;
    background-color: #0D99FF;
    padding: 10px;
    border: none;
    border-radius: 5pt;
}


.submit-quiz button:hover {
    background-color: rgba(13, 153, 255, 0.90);
    cursor: pointer;
}

