*{
    font-family: 'Inter', sans-serif;
}

.quiz-detailed-results {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #edf5fb;
}


.detailed-results {
    flex-grow: 1;
}


.detailed-results {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 125ch;
    width: 100%;
    margin: 0 auto;
    margin-top: 82px;
    flex-grow: 1;
    padding: 30px;
    background-color: #edf5fb;
    padding: 60px 30px;
    border-left: 2px solid rgb(237, 237, 237);
    border-right: 2px solid rgb(237, 237, 237);
}

.all-answers-table {
    margin: 20px;
    border-collapse: collapse;  /* this makes the cell borders collapse into a single border where possible */
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    border-radius: 5pt;
    background-color: white;
}

.all-answers-table th, .all-answers-table td {
    border: 1px solid black; /* this gives a border to each table cell */
    padding: 10px; /* this adds some spacing inside each table cell */
}

/**BORDERS**/
.all-answers-table th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.all-answers-table tr {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.all-answers-table tr:last-child {
    border-bottom: 2px solid black;
}

.all-answers-table td {
    font-size: 12pt
}


.correct-answer {
    background-color: lightgreen;
}

.incorrect-answer {
    background-color: lightcoral;
}

.partially-correct-answer{
    background-color: rgba(250, 255, 0, 0.29);
}

.results-link {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 12pt;
    color: #0D99FF;
    font-weight: 600;
    cursor: pointer;
}

.results-link:hover {
    text-decoration: underline;
    
}