.quiz-summary-table {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 75%;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 40px;
    border-radius: 5pt;
    background-color: white;

}

.quiz-summary {
    font-size: 13pt;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    
}

.quiz-summary caption {
    font-weight: 600;
    padding-bottom: 10px;
}

.quiz-summary-label {
    font-weight: 600;
    padding-right: 5px;
}

.quiz-summary-value {
    font-weight: 400;
    padding-left: 30px;
    padding-top: 5px;
    color: #0D99FF;
    font-weight: 600;
}