*{
    font-family: 'Inter', sans-serif;
}


.test-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 82px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    /* background-color: #e9f6ff; */
    background: linear-gradient(to right, #0D99FF, #6dbbf2);
    color: white;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
}

.test-header-content {
    display: flex;
    align-items: center;
    max-width: 125ch;
    width: 100%;
    margin: 0 auto;
    
}

.test-title {
    margin: 0;
    color: white;
    font-size: 24pt;
}

.exit-quiz {
    padding: 10px;
    background-color: rgba(197, 48, 48, 1);
    color: #FFFFFF;
    border-radius: 5pt;
    font-weight: 600;
    margin-left: auto;
}

.exit-quiz:hover {
    background-color: rgba(253, 0, 0, 1);
    cursor:pointer;
}

.exit-button-confirmation, .exit-no-button-confirmation{
    font-size: 12pt;
    font-weight: 600;
    color: white;
    background-color: #0D99FF;
    padding: 10px 20px;

    border: none;
    border-radius: 5pt;
    margin-right: 20px;
    margin-top: 5px;
}

.exit-button-confirmation:hover, .exit-no-button-confirmation:hover {
    background-color: rgba(13, 153, 255, 0.90);
}

.exit-buttons {
    display: flex;
    justify-content: center;
}