

.test-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 50px;
    height: 82px;
    color: black;
    font-size: 10pt;
   /* background-color: #e9f6ff; */
   background-color: white;
   border-top: 2px solid rgb(237, 237, 237);
}
