*{
    font-family: 'Inter', sans-serif;
}

.topics-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 88%;   
    margin-left: 65px; 
} 

.topic {
    background-color: white;
    width: 300px;
    height: 175px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
    margin: 20px;
    padding: 5px 15px 0;
    border-radius: 5pt;
    display: flex;        /* Turn on flexbox */
    flex-direction: column;   /* Stack items vertically */
    justify-content: space-between;
    transition: transform 0.2s ease-in-out;
    color:#0095ff;
}

.topic:hover {
    background-color: #1c9efa;
    color: white;
    transform: scale(1.05);
    cursor: pointer;

}


.topic p {
    font-size: 10pt;
    font-weight: 500;
}




/**RESPONSIVENESS**/

@media (max-width: 1245px) {
    .topics-list {
        justify-content: center;
    }
}


@media (max-width: 1245px) {
    .topics-list {
        margin-left: 30px;
    }
}

@media (max-width: 530px) {
    .topics-list {

        margin-left: 20px;
    }
    
    .topic {
        margin: 10px;  
    }
}