* {
    box-sizing: border-box;
}

html, body, #root{ 
    height: 100%;
}


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}


/* HEADER */

.header-container {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 82px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 125ch;
    width: 100%;
    margin: 0 auto;
}

.title {
    margin: 0;
    color: #0D99FF;
    font-size: 24pt;
}

.options {
    display: flex;
    align-items: center;
    margin-left: auto;
}


/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 50px;
    height: 82px;
    color: rgb(0, 0, 0, 0.57);
    font-size: 10pt;
    background-color: rgba(212, 227, 238, 0.338);
    border: none;
}





